#title {

    text-align: center;
}

h2 {

    text-align: center;
}

.choices {
    margin: 50px 0;
    text-align: center;

}

.choice {

    border: 1px solid green;
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: 0 20px;
    box-sizing: border-box;
}

#choices {

    display: flex;
}

body {

    background-color: lightgreen;
}